<h1>Home</h1>

<div class="center-block " >
  
   
        <a [routerLink]="['/magazine']">
            <span class='glyphicon glyphicon-menu-up' ></span>  <h2>Magazines</h2>
        </a>
    
    
        <a [routerLink]="['/brochure']">
            <span class='glyphicon glyphicon-menu-up'></span> <h2>Brochures</h2>
        </a>
    
   
        <a [routerLink]="['/book']">
            <span class='glyphicon glyphicon-menu-up'></span><h2> Books</h2>
        </a>
    
   
        <a [routerLink]="['/publichouse']">
            <span class='glyphicon glyphicon-menu-up'></span><h2> Publication houses</h2>
       </a>
   
</div>