<h1>Books</h1>

<p *ngIf="!forecasts"><em>Loading...</em></p>
<input type="button" value="Add book" class="btn btn-default" (click)="Add()" />

<table class="table table-striped" *ngIf="tableMode; else create">
    <thead>
        <tr>
            <th>Name: </th>
            <th>Author:</th>
            <th>Year:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <ng-template [ngIf]="book?.id != forecast.id" [ngIfElse]="edit">
                <td>{{ forecast.name }}</td>
                <td>{{ forecast.author }}</td>
                <td>{{ forecast.yearOfPublishing }}</td>
                <td>
                    <button class="btn btn-sm btn-default" (click)="updateBook(forecast)">Update</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteBook(forecast.id)">Delete</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>


<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="book.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="book.author" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="book.yearOfPublishing" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>


<ng-template #create>
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="book.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Author</label>
        <input type="text" [(ngModel)]="book.author" class="form-control" />
    </div>
    <div class="form-group">
        <label>Year</label>
        <input type="text" [(ngModel)]="book.yearOfPublishing" class="form-control" />
    </div>
    <div>
        <input type="button" value="Save" (click)="save()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>